header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-youtube
    .header__column
        form(action=routes.search, method="get")
            input(type="text", placeholder="검색", name="search_query")
            button
                i.fas.fa-search
    .header__column
        if(!user.isAuthenticated)
            ul
                li
                    a(href=routes.join) Join
                li
                    a(href=routes.login) Login
        else 
            ul
                li
                    a(href=`/videos${routes.upload}`) Upload
                li
                    a(href=routes.userDetail(user.id)) Profile
                li
                    a(href=routes.logout) Logout
