extends layout/main
include mixins/videoPlayer

block content
    //- .video__player
    //-     video.video(src=`/${video.fileUrl}`, controls=true)
    +videoPlayer({
        src:video.fileUrl
    })
    .video__info
        if loggedUser && (loggedUser.id === video.creator.id)
            .video__edit
                a(href=routes.editVideo(video.id)).edit 수정
                a(href=routes.deleteVideo(video.id)).delete 삭제
        .video__header
            .video__header__side
                .video__author-avatar 
                    img(src=video.creator.avatarUrl, alt="")  
            .video__header__body 
                .video__header__body-content
                    .video__author
                        a(href=routes.userDetail(video.creator._id))= video.creator.name
                    .video__view 
                        img(src="/img/play.png", alt="")  
                        .video__view_title= video.views        
                .video__title= video.title
        .video__description= video.description
        .video__comment
            .video__comment-input-container
                if loggedUser
                    .video__comment-user-avator
                        img(src=`${loggedUser.avatarUrl}`, alt="")
                    form.add_comment#jsAddComment
                        input(type="text", name="", placeholder ="내용을 입력해 주세요") 
                else
                    button.login_button 로그인
            .video__comment-list
                .list comment list입니다 ㅎㅎ 
        