extends layout/main

block content
    .video__player
        video.video(src=`/uploads/${video.fileUrl}`, controls=true)
    .video__info
        if (loggedUser)
            .video__edit
                a(href=routes.editVideo(video.id)).edit 수정
                a(href=routes.deleteVideo(video.id)).delete 삭제
        .video__view
            img(src="/img/play.png", alt="", srcset="")  
            .video__view_title= video.views        
        .video__title= video.title
        .video__description= video.description
        
        h5.video__comment= video.comment
        