mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumnbnail(src=video.videofile)
            img(src=`${video.creator.avatarUrl}`).avatarImg 
            .video__content
                h4.videoBlock__title= video.title
                .videoBlock__views
                    img(src="/img/play.png", alt="", srcset="")
                    h6.videoBlock__views_title= video.views 