extends layout/main
include mixins/videoPlayer

block content
    +videoPlayer({
        src:video.fileUrl
    })
    .video__info
        if loggedUser && (loggedUser.id === video.creator.id)
            .video__edit
                a(href=routes.editVideo(video.id)).edit 수정
                a(href=routes.deleteVideo(video.id)).delete 삭제
        .video__header
            .video__header__side
                .video__author-avatar 
                    img(src=video.creator.avatarUrl, alt="")  
            .video__header__body 
                .video__header__body-content
                    .video__author
                        a(href=routes.userDetail(video.creator._id))= video.creator.name
                    .video__view 
                        img(src="/img/play.png", alt="")  
                        .video__view_title= video.views        
                .video__title= video.title
        .video__description= video.description
        .video__comment
            .video__comment__side
                if loggedUser
                    .video__comment-avator
                        img(src=`${loggedUser.avatarUrl}`, alt="")
                    form.add_comment#jsAddComment
                        input(type="text", name="", placeholder ="내용을 입력해 주세요") 
                else
                    button.login_button 로그인
        ul.video__comment#jsCommentList
            each comment in video.comment.reverse()
                .video__comment__side
                    .video__comment-avator
                        img(src=`${comment.creator.avatarUrl}`, alt="")
                    .video__user-name= comment.creator.name
                    .video__date= `${comment.createdAt.toLocaleString('ko')}`
                    .video__comment-text= comment.text
                    if (loggedUser.id === video.creator.id)
                        button(name=comment.id, type="button").jsDeleteButton 지우기